.card-box {
  background-color: white;
  margin: 10px 7px 12px 7px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  h3 {
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    float: left;
    margin: 0;
    overflow: auto;
    word-wrap: break-word;
  }

  .deleteCardBtn {
    visibility: hidden;
    cursor: pointer;
    font-size: 24px;
    float: right;
    color: #ff0000;
    margin: 0;
    margin-right: 10px;
    transition: all 0.25s;
    &:hover {
      // transform: rotate(30deg);
      transform: scale(1.3, 1.3);
    }
  }

  .doneCardBtn {
    visibility: hidden;
    cursor: pointer;
    font-size: 22px;
    float: right;
    color: #208c0b;
    margin: 0;
    margin-right: 10px;
    padding-top: 2px;
    transition: all 0.25s;
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }

  &:hover {
    background-color: #e6e6e6;
    .deleteCardBtn {
      visibility: visible;
    }
    .doneCardBtn {
      visibility: visible;
    }
  }
}
